html {
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  color: black;
  font-family: 'Google Sans';
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

h1 {
  font-size: 30px;
  margin: 40px 0 24px 0;
}

h2 {
  color: #d5a23c;
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0 0 0;
}

h3 {
  font-size: 24px;
  margin: 40px 0 24px 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0 0 0;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

header {
  background: url("../img/mona_lisa.png") no-repeat center top;
  background-size: cover;
}

header .brand-heading {
  margin: 110px 0 24px 0;
}

header .subtitle {
  color: rgba(0, 0, 0, 0.56);
  margin-bottom: 60px;
}

#principles img {
  max-width: 100%;
  padding-top: 24px;
}

#principles .row {
  background-color: #fafafa;
  margin-bottom: 24px;
}

#principles .row:last-child {
  margin-bottom: 0;
}

#problem ul {
  margin: 0;
}

#problem li {
  list-style-image: url("../img/bullet.svg");
}

#problem .row:last-child {
  margin-bottom: 60px;
}

#solution .frame {
  align-items: center;
  border: 1px solid #d5a23c;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 24px;
  padding: 40px 0;
}

#solution .frame h4 {
  font-weight: 500;
  margin: 0 20px;
}

#solution .frame .icon {
  height: 100px;
  min-width: 100px;
  margin-left: 10px;
}

#solution .frame .icon img {
  height: 100%;
  width: 100%;
}

#solution p {
  margin-bottom: 24px;
}

footer {
  background-color: #4a4a4a;
  color: #ffffff;
  padding-bottom: 60px;
}

footer a {
  color: white;
}

footer p {
  margin: 40px 0;
}

footer .logos {
  justify-content: space-around;
  margin: 0 0 40px 0;
}

footer .logos .icon {
  height: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
}

footer .logos .icon img {
  width: 100%;
}

footer .contact {
  margin-bottom: 24px;
}

footer .contact div {
  display: flex;
  justify-content: center;
}

footer .contact img {
  margin-right: 4px;
}

footer .contact > h5 {
  margin-bottom: 8px;
}

.content-section {
  border-bottom: 1px solid #ffca56;
}

.container > .row > div {
  padding-left: 24px;
  padding-right: 24px;
}

.nav-opaque {
  background-color: white;
  border-bottom: 1px solid #d8d8d8;
}

.nav-transparent {
  background-color: transparent;
  border: none;
}

.navbar {
  padding: 8px 16px;
}

.navbar a, .navbar button {
  color: #d8a734;
  font-family: 'Google Sans';
  font-size: 12px;
  font-weight: 500;
}

.navbar a .logo, .navbar button .logo {
  height: 20px;
}

@media (min-width: 768px) {
  .navbar a .logo, .navbar button .logo {
    height: 20px;
  }
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .buttons {
  display: flex;
}

.navbar .nav-link {
  padding: 8px 12px;
  margin-left: 12px;
}

.navbar .wp {
  outline: 1px solid;
}
